# Crisp API credentials (Plugin auth)
CRISP_IDENTIFIER=your-plugin-identifier
CRISP_KEY=your-plugin-key
CRISP_WEBSITE_ID=your-website-id

# Jira API credentials
JIRA_EMAIL=your-email@minehub.io
JIRA_API_TOKEN=your-jira-api-token
JIRA_CLOUD_ID=7a6832b7-8317-4cb3-b886-1a6da3749a41
JIRA_BASE_URL=https://minehub.atlassian.net

# Server
PORT=3100
